.inactive .ad-info {
	opacity: 0.4;
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
}

.inactive:hover .ad-info,
.inactive.hovered .ad-info {
	opacity: 1 !important;
	filter:alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
}

.banner-ad-fieldset .controls.first {
	margin: 0 0 1.4em;
}

.banner-ad-set .admin .controls {
	float: left;
}

.banner-ad-set {
	clear: both;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.banner-ad-item {
	margin: 0;
}

.banner-ad-item .clearance {
	height: 1px;
	line-height: 1px;
	margin: 0;
	padding: 0;
	clear: both;
}

.banner-ad-item .ad-info {
	float: left;
	padding: 8px;
	margin: 0;
}

.banner-ad-item .ad-info.details {
	float: none !important;
}

.banner-ad-item .ad-info h2, #ad-region-list td h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 5px;
}

.banner-ad-item .ad-info .small {
	margin: 0;
}

.banner-ad-item .ad-info.admin {
	float: right !important;
}

.banner-ad-set .stripe-odd, #ad-region-list .stripe-odd {
	background: #eee;
}

.banner-ad-set .stripe-even, #ad-region-list .stripe-even {
	background: #ddd;
}

.banner-ad-set .sort-column {
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	color: #888;
	padding: 6px;
	margin: 10px 0 0;
}

.banner-ad-set .sort-column.draggable {
	cursor: move;
	background: url(/framework/themes/sea_biscuit/images/jquery-ui/ui-icons_222222_256x240.png) -123px -14px no-repeat;
}

.ad-activator {
	display: none;
	float: left;
}

#ad-region-list td {
	padding: 8px;
}